<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect galleries">
                    <match url="galleries/([0-9]+)/([0-9]+)" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="facebookexternalhit/[09]" ignoreCase="false" negate="true"/>
                        <!-- |Twitterbot|Pinterest|Google.*snippet) -->
                    </conditions>
                    <action type="Redirect" url="projects.html#{R:1}&amp;gid={R:1}&amp;pid={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>    
</configuration> 